<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="./css/styles.css">
<link rel="icon" href="./img/ent.png">




</head>


<body>
<div class="main-content">

    {{>header}}
    {{!-- <h1>{{title}} written by {{name}}</h1> --}}
    <p>Work in progress</p>

<form >
<input placeholder="What do you need ?">
<button onClick=addBlock()>Translate </button>
</form>
    <p class="response" id="message-1"></p>
    <p id="message-2"></p>
</div>

    {{>footer}}
    <script src="/js/app.js"></script>

</body>



</html>